@model ConfirmMailViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-4">
        <form method="post" asp-route-mail="@TempData["Mail"]">
            <label>Kullanıcı ID Değeri</label>
            <input type="text" class="form-control" value="@TempData["Mail"]" />
            <br />
            <label>Mail Adresinize Gelen 6 Haneli Kodu Girniz</label>
            <input type="text" class="form-control" asp-for="ConfirmCode" />
            <br />
            <button class="btn btn-primary">Hesabı Aktifleştir</button>
        </form>
    </div>
</body>
</html>
